node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local

# macOS
.DS_Store

# VSCode
.vscode/

# Android
android/
.gradle/

# iOS
ios/
Pods/
*.pbxuser
!default.pbxuser
*.xcworkspace
!default.xcworkspace
